# How To Comment

In [4]:
# This is used for one-line comment
print("Hello World")

'''This is 
        Example of 
            Multi line comment'''

"""We can 
    Use This also
        For multi line comment"""

Hello World

'We can \n    Use This also\n        For multi line comment'

# How to declare and use a variable

In [5]:
a=10
b=10.2
c="Akash Technolabs"

print(a)
print("The value of an :", b)
print("The value of an :", c)

10
The value of an : 10.2
The value of an : Akash Technolabs

# Changing The Value Of a Variable

In [7]:
name="Akash Technolabs"
print(name)

name="Akashsir.com"
print(name)

Akash Technolabs
Akashsir.com

# Assigning Multiple Values to Multiple Variables

In [8]:
a,b,c = 10,30,"AkashSir"
print(a)
print(b)
print(c)

10
30
AkashSir

# Assigning Same value to Multiple variables

In [10]:
a=b=c=10
print(a)
print(b)
print(c)

10
10
10

# Number Datatype

In [14]:
n1=10
print(type(n1))
print(isinstance(n1,complex))

<class 'int'>
False

In [13]:
n2=60.4
print(type(n2))
print(isinstance(n2,float))

<class 'float'>
True

# String Datatype

In [20]:
name = "Akash Technolabs"
print(name[0])
print(name[2:5])
print(name * 2)
print(name + "Hello")

A
ash
Akash TechnolabsAkash Technolabs
Akash TechnolabsHello

# List Datatype

In [22]:
list=[10,20.5,"Apples","banana",50,100]
print(list[3])
print(list[2:6])

banana
['Apples', 'banana', 50, 100]

# Tuple Datatype

In [23]:
#square brackets are used
#we cannot assign or update a new value to tuple 
#it is immutable
tuple=(10,20.5,"Apples","banana",50,100)
print(tuple[5])
print(tuple[1:3])

100
(20.5, 'Apples')

# Error occurs in tuple

In [24]:
tuple[3]="Nirali"

TypeError: 'tuple' object does not support item assignment

# Dictionary

In [25]:
d={1:"hiral" , 2:"jinal" , 3:"Nirali"}
print(d[1])

hiral